*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  overflow-x: hidden;
}
body{
  background: url("image3.png") ;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  backdrop-filter: blur(5px);
  height: 100vh;
}
.hero{
  position: relative;
  width: 100%;
  height: 100vh;
}
.home{
  margin-bottom: 6rem;
}
.navbar{
  display: flex;
  height: 3rem;
  width: 100vw;
  padding: 10px 0;
  align-items: center;
  justify-content: space-between;

}
.navbar ul li{
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}
.navbar ul li a{
  text-decoration: none;
  color: #fff;
  position: relative;
  padding-right: 3px;
  transition: padding-right 0.3s ease, border-bottom 0.3s ease;
}
.navbar ul li a:hover{
  border-bottom: 1px solid #a18341;
}

.logo1{
  height: 3rem;
  position: relative;
  left: 40px;
}
.logo{
  position: relative;
  left: 42%;
  height: 10rem;
}
section {
  padding: 1rem;
}
h2{
  margin-bottom: 0.5rem;
  margin-top: 1rem;
}
p{
  font-weight: 500;
  font-size: medium;
}

.management{
  position: relative;
  margin: 1rem;
  background: #52504e85;
  border-radius: 2rem;
  padding: 2rem;
  margin-top: 5rem;
  margin-bottom: 3rem;

}

.form{
  background: #a3885575;
  border-radius: 5rem;
  padding: 2rem;
  padding-left: 15rem;
  margin: 1rem;
  margin-left: 15rem;
  margin-right: 15rem;
}
.form input{
  border-radius: 0.5rem;
  padding: 0.5rem;
  background: #e7e1c7;
}

.banner{
    width: 100%;
    height: 100vh;
    
}
.form{
    align-items: center;
    padding: 100px;
}
.select{
    justify-content: space-between;
    width: 100px;
}
.radio{
    justify-content: space-between;
}
.label{
    justify-content: space-between;
}
.gallery{
  padding: 2rem;
}
.image123456{
    width: 400px;
}

.tooltip {
  position: relative;
  display: inline-block;
}
.tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
  .ul{
    list-style: none;
  }
  .link{
    text-decoration: none;
  } 

  .academics{
    padding-inline: 1rem;
    margin-top: 1rem;
  }
  .academics ul li{
    margin: 0.5rem;
    font-weight: bold;
  }
  .academics ul li a{
    color: #062b50;
  }
  .academics h1, .academics h2{
    display: flex;
    margin: 20px 20px 20px 0px;

  }
  footer {
    background-color: #34495e;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100vw;    
 }